.register-form-user {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    filter: brightness(90%);
    background-image: url("../../../assets/BGCow.jpg");
    background-color: rgba(0, 0, 0, 0.68);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-size: 20px;
}
.register-form-space {
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 8vh;
    display: flex;
   flex-direction: column;
   justify-content: center; 
   height: 90vh;
   width: 60vw;
   margin-left: 25vw;
   margin-top: 5vh;
  }
  
.register-header-title {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  padding: 21px;
  background-color: #50592F;
  width: 45vw;
  color: white;
}

.register-title {
    text-align: center;
}

.data-input {
    color:white;
}

.doc-id-number {
    width: 18vw;
}